//51degrees.pkgs.visualstudio.com/_packaging/pipeline-insider/npm/registry/:username=51degrees
//51degrees.pkgs.visualstudio.com/_packaging/pipeline-insider/npm/registry/:_password=$(Base64EncodedPAT)
//51degrees.pkgs.visualstudio.com/_packaging/pipeline-insider/npm/registry/:email=ciuser@51degrees.com
//51degrees.pkgs.visualstudio.com/_packaging/pipeline-insider/npm/:username=51degrees
//51degrees.pkgs.visualstudio.com/_packaging/pipeline-insider/npm/:_password=$(Base64EncodedPAT)
//51degrees.pkgs.visualstudio.com/_packaging/pipeline-insider/npm/:email=ciuser@51degrees.com